body{
    background: #FFA17F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #00223E, #FFA17F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #00223E, #FFA17F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}


main {
    height: 100vh;
}

header{
    background-color: #fffffe;    
}
.imgCarousel{
    max-width: 300px;
    max-height: 300px;    
}
.imgHome{
    border-radius: 2rem;
}
footer{
    background-color: #141414
}


.iconosRedes{
    background-color: #fffffe;
    border-radius: 1rem;
    margin: .5rem;
}

.descProdu{
    color: #fffffe;
}