body{
    background: #FFA17F;  
    background: -webkit-linear-gradient(to top, #00223E, #FFA17F);  
    background: linear-gradient(to top, #00223E, #FFA17F);     
}


main {
    height: 100vh;
}

header{
    background-color: #fffffe;    
}
.imgCarousel{
    max-width: 300px;
    max-height: 300px;    
}
.imgHome{
    border-radius: 2rem;
}
footer{
    background-color: #141414
}


.iconosRedes{
    background-color: #fffffe;
    border-radius: 1rem;
    margin: .5rem;
}

.descProdu{
    color: #fffffe;
}