body{
    background: rgb(0,255,0);
background: -moz-radial-gradient(circle, rgba(0,255,0,1) 6%, rgba(20,20,20,1) 73%);
background: -webkit-radial-gradient(circle, rgba(0,255,0,1) 6%, rgba(20,20,20,1) 73%);
background: radial-gradient(circle, rgba(0,255,0,1) 6%, rgba(20,20,20,1) 73%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ff00",endColorstr="#141414",GradientType=1);
}
main {
    height: 100vh;
}

header{
    background-color: #fffffe;    
}
.imgCarousel{
    max-width: 300px;
    max-height: 300px;    
}
.imgHome{
    border-radius: 2rem;
}
footer{
    background-color: #141414
}


.iconosRedes{
    background-color: #fffffe;
    border-radius: 1rem;
    margin: .5rem;
}
